pipeline/Copy_p_Parent_Zoho_38b_copy1.json
{
	"name": "Copy_p_Parent_Zoho_38b_copy1",
	"properties": {
		"activities": [
			{
				"name": "If Modified Since Date Leads",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "If-Modified-Since",
					"value": {
						"value": "@formatDateTime(addDays(utcnow(), if(equals(pipeline().parameters.reprocessDate, ''), -7, sub(0, int(pipeline().parameters.reprocessDate)))), 'yyyy-MM-ddTHH:mm:ssZ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetTokenStartTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TokenStartTime",
					"value": {
						"value": "@utcNow()\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WebZohoAPI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://accounts.zoho.eu/oauth/v2/token",
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.client_id, \n        '&client_secret=', pipeline().parameters.client_secret,\n        '&refresh_token=', pipeline().parameters.refresh_token,\n        '&grant_type=refresh_token')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable Users Leads",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WebActivityName",
					"value": {
						"value": "@activity('WebZohoAPI').output.access_token\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PageCounter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "1 Executed Deals",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PageCounter",
					"value": {
						"value": "@if(contains(activity('1 Executed Deals').output.pipelineReturnValue, 'PageCounter'), activity('1 Executed Deals').output.pipelineReturnValue.PageCounter, pipeline().parameters.PageCounter)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Seconds Start Execution",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "PageCounter",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NextPageToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    div(sub(ticks(utcnow()), ticks(variables('TokenStartTime'))), 10000000),\n    10\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "1 Executed Deals",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Modified Since Date Leads",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetTokenStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Users Leads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "p_Child_Zoho_Deals_38b",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"client_id": {
							"value": "@pipeline().parameters.client_id",
							"type": "Expression"
						},
						"client_secret": {
							"value": "@pipeline().parameters.client_secret",
							"type": "Expression"
						},
						"refresh_token": {
							"value": "@pipeline().parameters.refresh_token",
							"type": "Expression"
						},
						"reprocessDate": {
							"value": "@variables('AccessToken')",
							"type": "Expression"
						},
						"AccessToken": {
							"value": "@variables('WebActivityName')",
							"type": "Expression"
						},
						"PageCounter": {
							"value": "@variables('PageCounter')",
							"type": "Expression"
						},
						"IfModifiedSince": {
							"value": "@variables('If-Modified-Since')",
							"type": "Expression"
						},
						"NextPageToken": {
							"value": "@variables('NextPageToken')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CheckFolderExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adsl_json_delete",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/zoho_38b/', formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition Delete",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckFolderExists').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete Files in folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl_json_delete",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/zoho_38b/', formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "NextPageToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "1 Executed Deals",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NextPageToken",
					"value": {
						"value": "@concat('tokenvalidoparaprobar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Pagination",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Seconds Start Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(\n  or(\n    equals(trim(coalesce(variables('NextPageToken'), '')), ''),\n    equals(variables('NextPageToken'), null)\n  )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "2 Executed Deals",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "p_Child_Zoho_Deals_38b",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"client_id": {
										"value": "@pipeline().parameters.client_id",
										"type": "Expression"
									},
									"client_secret": {
										"value": "@pipeline().parameters.client_secret",
										"type": "Expression"
									},
									"refresh_token": {
										"value": "@pipeline().parameters.refresh_token",
										"type": "Expression"
									},
									"reprocessDate": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"AccessToken": {
										"value": "@variables('WebActivityName')",
										"type": "Expression"
									},
									"PageCounter": {
										"value": "@variables('PageCounter')",
										"type": "Expression"
									},
									"IfModifiedSince": {
										"value": "@variables('If-Modified-Since')",
										"type": "Expression"
									},
									"NextPageToken": {
										"value": "@variables('NextPageToken')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "If Pagination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"client_id": {
				"type": "string",
				"defaultValue": "1000.1F4VDBCZ89HIY80175SZZF595HBSNO"
			},
			"client_secret": {
				"type": "string",
				"defaultValue": "d3743dfd871d30ac90d12b3e6ac02de1111c51076e"
			},
			"refresh_token": {
				"type": "string",
				"defaultValue": "1000.38b38aaaa19f9e17d7228903a78f2220.44022c9409dbc53987bcc273e18eb666"
			},
			"reprocessDate": {
				"type": "string",
				"defaultValue": "1"
			},
			"AccessToken": {
				"type": "string"
			},
			"PageToken": {
				"type": "string"
			},
			"PageCounter": {
				"type": "string"
			}
		},
		"variables": {
			"WebActivityName": {
				"type": "String"
			},
			"If-Modified-Since": {
				"type": "String"
			},
			"NextPageToken": {
				"type": "String"
			},
			"Log_Token": {
				"type": "String"
			},
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"TokenStartTime": {
				"type": "String"
			},
			"AccessToken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-23T12:54:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}