pipeline/p_AircallCallsBronzeSilver_Full.json
{
	"name": "p_AircallCallsBronzeSilver_Full",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('startdate'),string(formatDateTime(utcnow(),'yyyy-MM-dd')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataAircallToBronze",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetVariableDateToLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.meta.next_page_link"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Aircall",
									"type": "DatasetReference",
									"parameters": {
										"relativeurl": {
											"value": "@concat('v1/calls?per_page=50&from=',variables('unix'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/aircall/calls/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))\n\n\n\n",
											"type": "Expression"
										},
										"filename": "aircallcalls.json"
									}
								}
							]
						},
						{
							"name": "SetVariableDateToLoad",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "unix",
								"value": {
									"value": "@{div(sub(ticks(variables('startdate')), ticks('1970-01-01')),10000000)}\t",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NotebookAircallCallsSilver",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CopyDataAircallToBronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Lakehouse/Silver/AircallCallsSilver"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "NotebookAircallMaxDate",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "NotebookAircallCallsSilver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Lakehouse/Silver/AircallMaxDate"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SetVariableMaxDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "NotebookAircallMaxDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "startdate",
								"value": {
									"value": "@activity('NotebookAircallMaxDate').output.runOutput",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"unix": {
				"type": "String"
			},
			"startdate": {
				"type": "String",
				"defaultValue": "2024-09-01"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze/Old"
		},
		"annotations": [],
		"lastPublishTime": "2025-03-22T17:50:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}