pipeline/p_Classlife931.json
{
	"name": "p_Classlife931",
	"properties": {
		"activities": [
			{
				"name": "WebClasslifeEnroll_groups",
				"description": "Activity web that calls the endpoint enroll_groups",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/enroll_groups')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ClasslifeProductos_931",
				"description": "ClasslifeEnrollGroups",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeEnroll_groups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('enroll_groups?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_931/enroll_groups/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeProductos.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeStudents",
				"description": "Activity web that calls the endpoint Students",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/students')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ClasslifeStudents_931",
				"description": "ClasslifeStudents",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeStudents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('students?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_931/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeStudents.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeEnrollments",
				"description": "Activity web that calls the endpoint Enrollments",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/enrollments')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Enrollments_931",
				"description": "Enrollments",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeEnrollments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('enrollments?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_931/enrollments/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeEnrollments.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeReceipts",
				"description": "Activity web that calls the endpoint Receipts",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/enrollments')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Receipts_931",
				"description": "Receipts",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeReceipts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('receipts?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_931/receipts/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeReceipts.json"
						}
					}
				]
			},
			{
				"name": "ClasslifeStudents_931_cleaned",
				"description": "ClasslifeStudents",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ClasslifeStudents_931",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['student_id']"
								},
								"sink": {
									"path": "student_id"
								}
							},
							{
								"source": {
									"path": "['student_full_name']"
								},
								"sink": {
									"path": "student_full_name"
								}
							},
							{
								"source": {
									"path": "['student_email']"
								},
								"sink": {
									"path": "student_email"
								}
							},
							{
								"source": {
									"path": "['student_phone']"
								},
								"sink": {
									"path": "student_phone"
								}
							},
							{
								"source": {
									"path": "['student_registration_date']"
								},
								"sink": {
									"path": "student_registration_date"
								}
							},
							{
								"source": {
									"path": "['student_active']"
								},
								"sink": {
									"path": "student_active"
								}
							},
							{
								"source": {
									"path": "['metas']['zoho_id']"
								},
								"sink": {
									"path": "zoho_id"
								}
							},
							{
								"source": {
									"path": "['metas']['ciudad']"
								},
								"sink": {
									"path": "ciudad"
								}
							},
							{
								"source": {
									"path": "['metas']['codigo']"
								},
								"sink": {
									"path": "codigo"
								}
							},
							{
								"source": {
									"path": "['metas']['pais']"
								},
								"sink": {
									"path": "pais"
								}
							},
							{
								"source": {
									"path": "['metas']['edad']"
								},
								"sink": {
									"path": "edad"
								}
							},
							{
								"source": {
									"path": "['metas']['direccion']"
								},
								"sink": {
									"path": "direccion"
								}
							}
						],
						"collectionReference": "$['data']['items']"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "@concat('lakehouse/classlife_931/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
							"filename": "JsaClassLifeStudents.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_931/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/','student_cleaned')",
								"type": "Expression"
							},
							"filename": "JsaClassLifeStudents.json"
						}
					}
				]
			},
			{
				"name": "Until Admissions",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Reboot PageCounter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('NextItem'), 0)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "1 PageCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "1 TempCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PageCounter",
								"value": {
									"value": "@variables('TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "1 TempCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Admissions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@add(variables('PageCounter'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "1 Set Items",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "1 PageCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextItem",
								"value": {
									"value": "@length(activity('WebClasslifeAdmissions').output.data.items)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WebClasslifeAdmissions",
							"description": "Activity web that calls the endpoint Admissions",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"apiKey": {
										"value": "@pipeline().parameters.API_KEY",
										"type": "Expression"
									},
									"clientId": {
										"value": "@pipeline().parameters.API_CLIENT",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://api.classlife.io/api/v1/admissions?showMetas=1&limit=', pipeline().parameters.limit, '&page=', variables('PageCounter'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Admissions",
							"description": "Admissions",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "WebClasslifeAdmissions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json",
										"apiKey": {
											"value": "@pipeline().parameters.API_KEY",
											"type": "Expression"
										},
										"clientId": {
											"value": "@pipeline().parameters.API_CLIENT",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Classlife",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat('admissions?showMetas=1&limit=', pipeline().parameters.limit, '&page=', variables('PageCounter'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_931/admissions/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('JsaClassLifeAdmissions_', string(variables('PageCounter')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Reboot PageCounter",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PageCounter",
					"value": {
						"value": "@int(1)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"API_CLIENT": {
				"type": "string",
				"defaultValue": "931"
			},
			"API_KEY": {
				"type": "string",
				"defaultValue": "C!F5ec7888d40c7e8"
			},
			"limit": {
				"type": "string",
				"defaultValue": "1500"
			}
		},
		"variables": {
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"NextItem": {
				"type": "Integer"
			},
			"WebActivityRequest": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-09T17:21:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}