pipeline/p_Classlife_Isep_929_Students.json
{
	"name": "p_Classlife_Isep_929_Students",
	"properties": {
		"activities": [
			{
				"name": "CheckFolderExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adsl_json_delete",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife_929/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition Delete",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFolderExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckFolderExists').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete Files students",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl_json_delete",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_929/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Delete Files students Cleaned",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Delete Files students",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adsl_json_delete",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_929/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/','student_cleaned')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Until Students",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "If Condition Delete",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('NextItem'), 0)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "3 PageCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "3 TempCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PageCounter",
								"value": {
									"value": "@variables('TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "3 TempCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ClasslifeStudents_929_cleaned",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@add(variables('PageCounter'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "3 Set Items",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "3 PageCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextItem",
								"value": {
									"value": "@length(activity('WebClasslifeStudents').output.data.items)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WebClasslifeStudents",
							"description": "Activity web that calls the endpoint Students",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"apiKey": {
										"value": "@pipeline().parameters.API_KEY",
										"type": "Expression"
									},
									"clientId": {
										"value": "@pipeline().parameters.API_CLIENT",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://api.classlife.io/api/v1/students?showMetas=1&limit=', pipeline().parameters.limit, '&page=', variables('PageCounter'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ClasslifeStudents_929",
							"description": "ClasslifeStudents",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "WebClasslifeStudents",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json",
										"apiKey": {
											"value": "@pipeline().parameters.API_KEY",
											"type": "Expression"
										},
										"clientId": {
											"value": "@pipeline().parameters.API_CLIENT",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Classlife",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat('students?showMetas=1&limit=', pipeline().parameters.limit, '&page=', variables('PageCounter'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_929/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('JsaClassLifeStudents_', string(variables('PageCounter')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ClasslifeStudents_929_cleaned",
							"description": "ClasslifeStudents",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ClasslifeStudents_929",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['student_id']"
											},
											"sink": {
												"path": "student_id"
											}
										},
										{
											"source": {
												"path": "['student_full_name']"
											},
											"sink": {
												"path": "student_full_name"
											}
										},
										{
											"source": {
												"path": "['student_email']"
											},
											"sink": {
												"path": "student_email"
											}
										},
										{
											"source": {
												"path": "['student_phone']"
											},
											"sink": {
												"path": "student_phone"
											}
										},
										{
											"source": {
												"path": "['student_registration_date']"
											},
											"sink": {
												"path": "student_registration_date"
											}
										},
										{
											"source": {
												"path": "['student_active']"
											},
											"sink": {
												"path": "student_active"
											}
										},
										{
											"source": {
												"path": "['metas']['zoho_id']"
											},
											"sink": {
												"path": "zoho_id"
											}
										},
										{
											"source": {
												"path": "['metas']['ciudad']"
											},
											"sink": {
												"path": "ciudad"
											}
										},
										{
											"source": {
												"path": "['metas']['codigo']"
											},
											"sink": {
												"path": "codigo"
											}
										},
										{
											"source": {
												"path": "['metas']['pais']"
											},
											"sink": {
												"path": "pais"
											}
										},
										{
											"source": {
												"path": "['metas']['edad']"
											},
											"sink": {
												"path": "edad"
											}
										},
										{
											"source": {
												"path": "['metas']['direccion']"
											},
											"sink": {
												"path": "direccion"
											}
										},
										{
											"source": {
												"path": "['metas']['nacimiento']"
											},
											"sink": {
												"path": "nacimiento"
											}
										},
										{
											"source": {
												"path": "['metas']['libres_expediente_alexia']"
											},
											"sink": {
												"path": "libres_expediente_alexia"
											}
										},
										{
											"source": {
												"path": "['metas']['libres_grupo_curso_anterior']"
											},
											"sink": {
												"path": "libres_grupo_curso_anterior"
											}
										},
										{
											"source": {
												"path": "['metas']['libres_titulacion_curso_anterior']"
											},
											"sink": {
												"path": "libres_titulacion_curso_anterior"
											}
										}
									],
									"collectionReference": "$['data']['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_929/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('JsaClassLifeStudents_', string(variables('PageCounter')), '.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife_929/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/','student_cleaned')",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('JsaClassLifeStudents_', string(variables('PageCounter')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"API_CLIENT": {
				"type": "string",
				"defaultValue": "929"
			},
			"API_KEY": {
				"type": "string",
				"defaultValue": "C!Fc0d63176713558"
			},
			"limit": {
				"type": "string",
				"defaultValue": "1500"
			}
		},
		"variables": {
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"NextItem": {
				"type": "Integer"
			},
			"WebActivityRequest": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze/ISEP"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-09T17:21:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}