pipeline/p_Classlife919.json
{
	"name": "p_Classlife919",
	"properties": {
		"activities": [
			{
				"name": "WebClasslifeStudents",
				"description": "Activity web that calls the endpoint Students",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/students')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ClasslifeStudents",
				"description": "ClasslifeStudents",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeStudents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('students?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife/students/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeStudents.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeEnrollments",
				"description": "Activity web that calls the endpoint Enrollments",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/enrollments')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Enrollments",
				"description": "Enrollments",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeEnrollments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('enrollments?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife/enrollments/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeEnrollments.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeReceipts",
				"description": "Activity web that calls the endpoint Receipts",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/enrollments')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Receipts",
				"description": "Receipts",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeReceipts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('receipts?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife/receipts/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeReceipts.json"
						}
					}
				]
			},
			{
				"name": "WebClasslifeAdmissions",
				"description": "Activity web that calls the endpoint Admissions",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"apiKey": {
							"value": "@pipeline().parameters.API_KEY",
							"type": "Expression"
						},
						"clientId": {
							"value": "@pipeline().parameters.API_CLIENT",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://api.classlife.io/api/v1/admissions')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Admissions",
				"description": "Admissions",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "WebClasslifeAdmissions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"apiKey": {
								"value": "@pipeline().parameters.API_KEY",
								"type": "Expression"
							},
							"clientId": {
								"value": "@pipeline().parameters.API_CLIENT",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Classlife",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": {
								"value": "@concat('admissions?showMetas=1&limit=', pipeline().parameters.limit)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehouse/classlife/admissions/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "JsaClassLifeAdmissions.json"
						}
					}
				]
			},
			{
				"name": "Until_Enroll_groups",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    equals(variables('NextItem'), null),\n    equals(trim(variables('NextItem')), '')\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WebClasslifeEnroll_groups",
							"description": "Activity web that calls the endpoint enroll_groups",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"apiKey": {
										"value": "@pipeline().parameters.API_KEY",
										"type": "Expression"
									},
									"clientId": {
										"value": "@pipeline().parameters.API_CLIENT",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://api.classlife.io/api/v1/enroll_groups')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ClasslifeProductos",
							"description": "ClasslifeEnrollGroups",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "WebClasslifeEnroll_groups",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json",
										"apiKey": {
											"value": "@pipeline().parameters.API_KEY",
											"type": "Expression"
										},
										"clientId": {
											"value": "@pipeline().parameters.API_CLIENT",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Classlife",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat('enroll_groups?showMetas=1&limit=', pipeline().parameters.limit,'&page=',variables('PageCounter'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/classlife/enroll_groups/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('JsaClassLifeProductos_', string(variables('PageCounter')), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PageCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TempCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PageCounter",
								"value": {
									"value": "@variables('TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TempCounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ClasslifeProductos",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@add(variables('PageCounter'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Items",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "PageCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextItem",
								"value": {
									"value": "@activity('GetNextPageTokenDeals').output.firstRow.info.next_page_token",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"API_CLIENT": {
				"type": "string",
				"defaultValue": "919"
			},
			"API_KEY": {
				"type": "string",
				"defaultValue": "C!Fd4e045d16e5544"
			},
			"limit": {
				"type": "string",
				"defaultValue": "1500"
			}
		},
		"variables": {
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"NextItem": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-03T16:56:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}