pipeline/p_ClientifyDealsBronzeF0_Full.json
{
	"name": "p_ClientifyDealsBronzeF0_Full",
	"properties": {
		"activities": [
			{
				"name": "CopyDataClientifyBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WebGetToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:01.500",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json",
							"Authorization": {
								"value": "@concat('Token ',activity('WebGetToken').output.value)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.next"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Clientify",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": {
								"value": "@concat('v1/deals/?page_size=250&created[gte]=09-01-2023&created[lt]=',formatDateTime(addDays(utcnow(),+1),'MM-dd-yyyy'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@concat('lakehousef0/clientify/deals/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"filename": "clientifydeals.json"
						}
					}
				]
			},
			{
				"name": "WebGetToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kvmetrodoralakehousepro.vault.azure.net/secrets/clientifytoken/5aaa9d80ef79468aa26b888ef06f7541?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"folder": {
			"name": "LakehouseF0/BronzeF0"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-07T14:29:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}