pipeline/p_Master_Zoho_38b.json
{
	"name": "p_Master_Zoho_38b",
	"properties": {
		"activities": [
			{
				"name": "If Modified Since Date Leads",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPILeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "If-Modified-Since",
					"value": {
						"value": "@formatDateTime(addDays(utcnow(), if(equals(pipeline().parameters.reprocessDate, ''), -7, sub(0, int(pipeline().parameters.reprocessDate)))), 'yyyy-MM-ddTHH:mm:ssZ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetTokenStartTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPILeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TokenStartTime",
					"value": {
						"value": "@utcNow()\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WebZohoAPILeads",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://accounts.zoho.eu/oauth/v2/token",
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.client_id, \n        '&client_secret=', pipeline().parameters.client_secret,\n        '&refresh_token=', pipeline().parameters.refresh_token,\n        '&grant_type=refresh_token')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable Users Leads",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebZohoAPILeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WebActivityName",
					"value": {
						"value": "@activity('WebZohoAPILeads').output.access_token\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "If Modified Since Date Leads",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetTokenStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable Users Leads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "p_Zoho_38b_token_llamada",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"client_id": {
										"value": "@pipeline().parameters.client_id",
										"type": "Expression"
									},
									"client_secret": {
										"value": "@pipeline().parameters.client_secret",
										"type": "Expression"
									},
									"refresh_token": {
										"value": "@pipeline().parameters.refresh_token",
										"type": "Expression"
									},
									"reprocessDate": {
										"value": "@pipeline().parameters.reprocessDate",
										"type": "Expression"
									},
									"AccessToken": {
										"value": "@pipeline().parameters.AccessToken",
										"type": "Expression"
									},
									"PageToken": {
										"value": "@pipeline().parameters.PageToken",
										"type": "Expression"
									},
									"PageCounter": {
										"value": "@pipeline().parameters.PageCounter",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"client_id": {
				"type": "string",
				"defaultValue": "1000.1F4VDBCZ89HIY80175SZZF595HBSNO"
			},
			"client_secret": {
				"type": "string",
				"defaultValue": "d3743dfd871d30ac90d12b3e6ac02de1111c51076e"
			},
			"refresh_token": {
				"type": "string",
				"defaultValue": "1000.38b38aaaa19f9e17d7228903a78f2220.44022c9409dbc53987bcc273e18eb666"
			},
			"reprocessDate": {
				"type": "string",
				"defaultValue": "7"
			},
			"AccessToken": {
				"type": "string"
			},
			"PageToken": {
				"type": "string"
			},
			"PageCounter": {
				"type": "string"
			}
		},
		"variables": {
			"WebActivityName": {
				"type": "String"
			},
			"If-Modified-Since": {
				"type": "String"
			},
			"NextPageToken": {
				"type": "String"
			},
			"Log_Token": {
				"type": "String"
			},
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"TokenStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-23T12:54:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}