pipeline/p_Zoho_Deals_38b.json
{
	"name": "p_Zoho_Deals_38b",
	"properties": {
		"activities": [
			{
				"name": "UntilDeals",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n  equals(trim(variables('NextPageToken')), ''),\n  equals(variables('NextPageToken'), null)\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopydataZohoDeals",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json",
										"Authorization": {
											"value": "@concat('Bearer ', pipeline().parameters.AccessToken)",
											"type": "Expression"
										},
										"If-Modified-Since": {
											"value": "@pipeline().parameters.IfModifiedSince",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Zoho_API",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@if(\n    or(equals(variables('NextPageToken'), null), equals(variables('NextPageToken'), '')),\n    'https://www.zohoapis.eu/crm/v7/Deals?per_page=200&fields=Motivo_p_rdida_B2C,ID_Producto,Owner,Motivo_p_rdida_B2B,Residencia1,utm_type,utm_medium,utm_campaign_name,br_rating,Deal_Name,Exchange_Rate,Currency,Stage,id,utm_ad_id,ID_Classlife,utm_campaign_id,Importe_pagado,br_score,utm_perfil,C_digo_descuento,L_nea_de_Negocio,utm_source,Descuento,Closing_Date,utm_adset_id,utm_estrategia,tipo_conversion,Amount,Probability,Contact_Name.id,Pipeline,Competencia,utm_term,utm_channel,Tipolog_a_de_cliente,Created_Date,Modified_Time,ID_Lead,Fecha_hora_Pagado_NE,Fecha_hora_Anulaci_n,Nacionalidad1,lead_correlation_id,id_unico,Tipolog_a_del_alumno1,Contact_Name,Created_Time,ID_clientify,Modalidad_de_curso',\n    concat('https://www.zohoapis.eu/crm/v7/Deals?per_page=200&page_token=', variables('NextPageToken'), '&fields=Motivo_p_rdida_B2C,ID_Producto,Owner,Motivo_p_rdida_B2B,Residencia1,utm_type,utm_medium,utm_campaign_name,br_rating,Deal_Name,Exchange_Rate,Currency,Stage,id,utm_ad_id,ID_Classlife,utm_campaign_id,Importe_pagado,br_score,utm_perfil,C_digo_descuento,L_nea_de_Negocio,utm_source,Descuento,Closing_Date,utm_adset_id,utm_estrategia,tipo_conversion,Amount,Probability,Contact_Name.id,Pipeline,Competencia,utm_term,utm_channel,Tipolog_a_de_cliente,Created_Date,Modified_Time,ID_Lead,Fecha_hora_Pagado_NE,Fecha_hora_Anulaci_n,Nacionalidad1,lead_correlation_id,id_unico,Tipolog_a_del_alumno1,Contact_Name,Created_Time,ID_clientify,Modalidad_de_curso')\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/zoho_38b/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": "@concat('JsaZohoDeals_', string(variables('PageCounter')), '.json')"
									}
								}
							]
						},
						{
							"name": "GetNextPageTokenDeals",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopydataZohoDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_adsl_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat('lakehouse/zoho_38b/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
											"type": "Expression"
										},
										"filename": "@concat('JsaZohoDeals_', string(variables('PageCounter')), '.json')"
									}
								}
							}
						},
						{
							"name": "Set NextPageTokenDeals",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "PageCounterDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextPageToken",
								"value": {
									"value": "@activity('GetNextPageTokenDeals').output.firstRow.info.next_page_token",
									"type": "Expression"
								}
							}
						},
						{
							"name": "LogtokenDeals",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set NextPageTokenDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Log_Token",
								"value": {
									"value": "@string(variables('NextPageToken'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TempCounterDeals",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetNextPageTokenDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempCounter",
								"value": {
									"value": "@add(variables('PageCounter'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PageCounterDeals",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TempCounterDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PageCounter",
								"value": {
									"value": "@variables('TempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set NextPageTokenDeals_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LogtokenDeals",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "NextPageToken",
										"value": {
											"type": "String"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"client_id": {
				"type": "string",
				"defaultValue": "1000.1F4VDBCZ89HIY80175SZZF595HBSNO"
			},
			"client_secret": {
				"type": "string",
				"defaultValue": "d3743dfd871d30ac90d12b3e6ac02de1111c51076e"
			},
			"refresh_token": {
				"type": "string",
				"defaultValue": "1000.38b38aaaa19f9e17d7228903a78f2220.44022c9409dbc53987bcc273e18eb666"
			},
			"reprocessDate": {
				"type": "string",
				"defaultValue": "7"
			},
			"AccessToken": {
				"type": "string"
			},
			"PageToken": {
				"type": "string"
			},
			"PageCounter": {
				"type": "string"
			},
			"IfModifiedSince": {
				"type": "string"
			}
		},
		"variables": {
			"WebActivityName": {
				"type": "String"
			},
			"If-Modified-Since": {
				"type": "String"
			},
			"NextPageToken": {
				"type": "String"
			},
			"Log_Token": {
				"type": "String"
			},
			"PageCounter": {
				"type": "Integer",
				"defaultValue": 1
			},
			"TempCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"TokenStartTime": {
				"type": "String"
			},
			"AccessToken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Lakehouse/Bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-23T12:54:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}